<div class="uk-container uk-container-small">
  <table class="uk-table uk-table-small uk-table-striped uk-margin-top">
    <thead>
      <tr> <!-- este renglón contiene el botón de agregar -->
          <th class="uk-table-expand">
            <button class="uk-button uk-button-small">Agregar usuario</button>
          </th>
          <th>Nivel</th>
          <th>Agregado por</th>
      </tr><!-- /renglonAgregar -->
    </thead>
    <tbody id="tbl_usuarios">
      <tr>
        <td><a class="uk-link-text">Nombre</a></td>
        <td>Nivel</td>
        <td>Agregado por</td>
      </tr>
      <tr>
        <td><a class="uk-link-text">Nombre</a></td>
        <td>Nivel</td>
        <td>Agregado por</td>
      </tr>
      <tr>
        <td><a class="uk-link-text">Nombre</a></td>
        <td>Nivel</td>
        <td>Agregado por</td>
      </tr>
    </tbody>
  </table>
</div><!-- /agenda -->
