<!DOCTYPE html><html lang='en' class=''>
<head>
<meta charset="UTF-8">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
<style class="cp-pen-styles"></style>
</head>
<body>
<div class="uk-container-small uk-align-center">
  <form class="uk-padding uk-align-center">
      <div class="uk-margin"><input class="uk-input uk-form-width-medium uk-form-large" type="text" placeholder="correo"></div>
      <div class="uk-margin"><input class="uk-input uk-form-width-medium uk-form-large" type="text" placeholder="contraseña"></div>
    <div class="uk-margin"><button class="uk-button uk-button-primary">acceder</button></div>
  </form>
</div>
</body></html>
