<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>

  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- AnyTime date time picker-->
  <script src="../lib/anytime.5.2.0.min.js"></script>
  <link rel="stylesheet" href="../lib/anytime.5.2.0.min.css" />

  <!-- funciones de ayuda -->
  <script src="../main.js"></script>

</head>
<body>

  <div class="uk-offcanvas-content">

      <!-- Barra de título -->
      <div class="uk-navbar-container" uk-sticky>
        <div class="uk-container uk-container-expand">
          <nav class="uk-navbar">

            <div class="uk-navbar-left">
                <a href="#" id="titulo" class="uk-navbar-item uk-logo"></a>
            </div>

            <div class="uk-navbar-right">
              <a href="" id="botonRegresar" class="uk-icon-button" uk-icon="close" style="visibility: hidden"
              onclick="vistaMain();"></a>
              <a id="botonMenu" class="uk-navbar-toggle" uk-navbar-toggle-icon href="#offcanvas" uk-toggle></a>
            </div>

          </nav>
        </div>
      </div><!-- /titulo -->

      <!-- Menú  oculto -->
      <div id="offcanvas" uk-offcanvas="mode: reveal; overlay: true; flip: true">
          <div class="uk-offcanvas-bar">
              <div class="uk-panel">

                  <!-- Solo para nivel > 1 -->
                  <!-- algo asi como condicional en EJS -->
                  <ul class="uk-nav uk-nav-default uk-nav uk-margin-top">
                      <li class="uk-nav-header">Administrar</li>
                      <li><a href="#" onclick="vistaAux('Gestión de Usuarios', 'adminUsuarios')">Usuarios</a></li>
                      <li><a href="#">Capacitación</a></li>
                      <li><a href="#" onclick="vistaAux('test', 'vistaNuevaCita');">Test</a></li>
                  </ul><!-- /nivel>1 -->

                  <ul class="uk-nav uk-nav-default uk-nav">
                      <li class="uk-nav-header">$USERNAME</li>
                      <li><a href="#">Salir</a></li>
                  </ul>

              </div>
          </div>
      </div><!-- /menu -->

  </div>

  <div id="app">

  </div><!-- /app -->

  <script type="text/javascript">
    $(document).ready(vistaMain());
  </script>

</body>
